:root {
  --glass-antiqua: "Glass Antiqua", cursive;

  --black: #272727;
  --white: #fffffe;

  --beige: #f8e5c4;
  --light-beige: #fcf5eb;
  --brown: #7e4822;
  --light-brown: #d19367;

  --light-gray: #8e877d;
  --gray: #5c5b55;
  --dark-gray: #463c32;

}