:root {
  --font-family: Roboto, Arial;
  --gap-xs: 5px;
  --gap-s: 10px;
  --gap-m: 15px;
  --gap: 20px;

  --black: #272727;
  --white: #fffffe;

  --beige: #f6eddd;
  --brown: #7e4822;

  --light-gray: #8e877d;
  --gray: #5c5b55;
  --dark-gray: #463c32;

}